.bgContainer {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -170px;
  width: 100%;
  min-height: 900px;
  background-image: url(../images/catalog-bg.jpg);
  background-size: 100% 100%;
  padding: 220px 0 255px;
  @media screen and (max-width: 1080px) {
    margin-top: -220px;
    padding-top: 270px;
  }
  z-index: inherit;
  .container {
    margin: 0 15%;
    @media screen and (max-width: 1798px) {
      margin: 0 5%;
    }
    .headMenu {
      display: flex;
      align-items: center;
      @media screen and (max-width: 978px) {
        display: none;
      }

      .active {
        color: #fff !important;
      }
      .headMenuElement {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #f2a718;
        margin: 0 10px;
        @media screen and (max-width: 1353px) {
          margin: 0 5px;
        }
        @media screen and (max-width: 1253px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1135px) {
          font-size: 12px;
        }
        @media screen and (max-width: 1019px) {
          margin: 0 3px;
        }

        cursor: pointer;
        .icon {
          margin-right: 5px;
        }
      }
    }
    .contentContainer {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1098px) {
        flex-direction: column;
        align-items: center;
      }

      .contentElem {
        width: 80%;
        @media screen and (max-width: 1098px) {
          width: 100%;
        }
        .title {
          font-size: 46px;
          font-weight: 900;
          @media screen and (max-width: 500px) {
            font-size: 32px;
          }
        }
        .firstContent {
          font-size: 25px;
          @media screen and (max-width: 1344px) {
            font-size: 20px;
          }
          @media screen and (max-width: 500px) {
            font-size: 18px;
          }
        }
        .contentElemImg {
          @media screen and (max-width: 1410px) {
            width: 90%;
          }
        }
        .secondContent {
          font-size: 21px;
          width: 80%;
          @media screen and (max-width: 1410px) {
            width: 100%;
          }
          @media screen and (max-width: 500px) {
            font-size: 16px;
          }
        }
      }
    }
    .formContainer {
      .title {
        font-size: 24px;
        font-weight: 400;
        .bold {
          font-weight: 900;
        }
      }
    }
  }
}
