.bgContainer {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -170px;
  width: 100%;
  min-height: 700px;
  background-image: url(../images/conditions-bg.png);
  background-size: 100% 100%;
  padding: 220px 0 380px;
  z-index: inherit;
  @media screen and (max-width: 974px) {
    padding-bottom: 480px;
  }
  .container {
    margin: 0 15%;
    @media screen and (max-width: 1550px) {
      margin: 0 5%;
    }
    .headMenu {
      display: flex;
      align-items: center;
      @media screen and (max-width: 978px) {
        display: none;
      }

      .active {
        color: #fff !important;
      }
      .headMenuElement {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #f2a718;
        margin: 0 10px;
        @media screen and (max-width: 1353px) {
          margin: 0 5px;
        }
        @media screen and (max-width: 1253px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1135px) {
          font-size: 12px;
        }
        @media screen and (max-width: 1019px) {
          margin: 0 3px;
        }

        cursor: pointer;
        .icon {
          margin-right: 5px;
        }
      }
    }
    .title {
      font-size: 46px;
      font-weight: 200;
      @media screen and (max-width: 716px) {
        font-size: 32px;
      }
      .bold {
        font-weight: 900;
      }
    }
    .textContainer {
      margin: 35px 0 50px;
      .textContent {
        font-size: 23px;
        font-weight: 400;
        margin: 7px 0;
        @media screen and (max-width: 716px) {
          font-size: 16px;
        }
      }
    }
    .disignersImg {
      @media screen and (max-width: 716px) {
        width: 100%;
      }
    }
    .formContainer {
      .formTitle {
        font-size: 24px;
        font-weight: 400;
        @media screen and (max-width: 716px) {
          font-size: 18px;
        }
        .bold {
          font-weight: 900;
        }
      }
    }
  }
}
