.titleIcon {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20%;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 35px;
    width: 61px;
    height: 1px;
    background: #efc11c;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 61px;
    height: 1px;
    background: #efc11c;
  }
}
