.container {
  display: flex;
  flex-direction: column;
  .question {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(to right, #f96e09, #ecd823);
    }
  }
  .answer {
    width: 400px;
    padding-left: 20px;
  }
}
