.bgContainer {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -170px;
  width: 100%;
  min-height: 900px;
  background-image: url(../images/reviews.png);
  background-size: 100% 100%;
  padding: 250px 0 255px;
  @media screen and (max-width: 1021px) {
    margin-top: -270px;
  }
  @media screen and (max-width: 1000px) {
    margin-top: -270px;
    background-size: cover;
    background-position: center;
    padding-top: 270px;
  }
  @media screen and (max-width: 500px) {
    padding: 180px 0 150px 0;
  }
  .container {
    margin: 0 15%;
    @media screen and (max-width: 719px) {
      margin: 0 5%;
    }
    .headMenu {
      display: flex;
      align-items: center;
      @media screen and (max-width: 978px) {
        display: none;
      }

      .active {
        color: #fff !important;
      }
      .headMenuElement {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #f2a718;
        margin: 0 10px;
        @media screen and (max-width: 1353px) {
          margin: 0 5px;
        }
        @media screen and (max-width: 1253px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1135px) {
          font-size: 12px;
        }
        @media screen and (max-width: 1019px) {
          margin: 0 3px;
        }

        cursor: pointer;
        .icon {
          margin-right: 5px;
        }
      }
    }
    .contentContainer {
      .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          font-size: 46px;
          font-weight: 200;
          @media screen and (max-width: 462px) {
            font-size: 32px !important;
            text-align: center;
          }
          .bold {
            font-weight: 900;
          }
        }
        .deliveryTitle {
          font-size: 24px;
          font-weight: 400;
          .bold {
            font-weight: 900;
          }
        }
      }
      .mapContainer {
        width: 1009px;
        height: 582px;
        position: relative;
        @media screen and (max-width: 1021px) {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      .reviewCaruselContainer {
        width: 100%;
        display: none;
        @media screen and (max-width: 1021px) {
          margin-top: 10px;
          display: block;
        }
        @media screen and (max-width: 588px) {
          width: 90%;
        }
      }
      .deliveryTitle {
        text-align: center;
      }
    }
  }
}
