.bgContainer {
  background-image: url(../images/Guarantee-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: -15%;
  position: relative;
  padding-bottom: 255px;
  @media screen and (max-width: 1000px) {
    margin-top: -220px;
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width: 504px) {
    padding-bottom: 200px;
  }
  .container {
    padding: 15%;
    @media screen and (max-width: 1320px) {
      padding: 5%;
      padding-top: 25%;
    }
    .title {
      font-size: 48px;
      font-weight: 800;
      @media screen and (max-width: 1450px) {
        font-size: 36px;
      }
      @media screen and (max-width: 950px) {
        font-size: 30px;
      }
    }
    .vacanciesContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 75px;
      @media screen and (max-width: 1047px) {
        flex-direction: column;
        gap: 35px;
      }
      @media screen and (max-width: 504px) {
        gap: 50px;
      }
      .vacancy {
        display: flex;
        width: 400px;
        height: 130px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 69, 142, 0.2);
        padding: 30px;
        border: 1px solid orange;
        position: relative;
        @media screen and (max-width: 504px) {
          width: 290px;
        }
        h3 {
          font-size: 24px;
          padding: 0;
          margin: 0;
          margin-bottom: 15px;
          text-align: center;
          width: 300px;
        }
        p {
          font-size: 18px;
          padding: 0;
          margin: 0;
          margin-bottom: 15px;
          font-weight: 600;
          color: orange;
        }
        .btn {
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translateX(-50%);
          padding: 19px 28px;
          background: linear-gradient(0deg, #f96e09 0%, #ecd823 100%);
          border-radius: 3px;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          transition: 0.5s ease-in-out;
          border: none;
          color: #1c1d20;
          cursor: pointer;
          &:hover {
            background: linear-gradient(180deg, #f96e09 0%, #ecd823 100%);
          }
        }
      }
    }
  }
}
