.bgContainer {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -220px;
  width: 100%;
  min-height: 900px;
  background-image: url(../images/examples-bg.jpg);
  background-size: 100% 100%;
  padding: 300px 0 255px;
  @media screen and (max-width: 1119px) {
    height: max-content;
    padding-bottom: 75px;
  }
  // @media screen and (max-width: 846px) {
  //   height: max-content;
  // }
  // @media screen and (max-width: 666px) {
  //   padding-bottom: 60px;
  // }
  // @media screen and (max-width: 470px) {
  //   padding-bottom: 30px;
  // }
  .container {
    margin: 0 15%;
    @media screen and (max-width: 1672px) {
      margin: 0 10%;
    }
    @media screen and (max-width: 1672px) {
      margin: 0 10%;
    }
    @media screen and (max-width: 756px) {
      margin: 0 5%;
    }
    .headMenu {
      display: flex;
      align-items: center;
      @media screen and (max-width: 978px) {
        display: none;
      }

      .active {
        color: #fff !important;
      }
      .headMenuElement {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #f2a718;
        margin: 0 10px;
        @media screen and (max-width: 1353px) {
          margin: 0 5px;
        }
        @media screen and (max-width: 1253px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1135px) {
          font-size: 12px;
        }
        @media screen and (max-width: 1019px) {
          margin: 0 3px;
        }

        cursor: pointer;
        .icon {
          margin-right: 5px;
        }
      }
    }
    .titleContainer {
      .firtsTitle {
        font-size: 46px;
        font-weight: 200;
        .bold {
          font-weight: 900;
        }
      }
      .secondTitle {
        font-size: 26px;
        font-weight: 400;
      }
    }
    .caruselContainer {
      width: 1350px;
      height: 552px;
      @media screen and (max-width: 1672px) {
        width: 100%;
        height: auto;
      }
    }
    .question {
      margin-top: 50px;
      font-size: 20px;
      font-weight: 400;
      .bold {
        font-weight: 900;
      }
    }
  }
}
